body {
	font-family: Noto Sans, sans-serif;
}

nav *, nav {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	color: inherit;
	text-decoration: none;
}

nav {
	border-bottom: solid 2px #e4e4e2;
	color: #007392;
	font-weight: 900;
}

.azul{
	color: red;
	background-color: red;
}

.dir {
	text-decoration: none;
	text-align: right;
}

.logo {
	font-size: 3em;

	opacity: 0.3;
}

.conteudo {
	font-family: arial;
	margin-top: 2.5%;
	border-top: solid 2px #e4e4e2;
}

.marg {
	margin-top: 10px;
}

.top_esquerda {
	background-color: #00b1e7;
	color: #fff;
	border: solid 1px #009ec7;

}


.top_esquerda h1 {
	font-weight: 900;
	margin-top: 10px;
	font-size: 2em;

}

.top_esquerda h2 {
	font-weight: 500;
	margin-top: 10px;
	font-size: 1.5em;
}

.btn {
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px #666666;
	-moz-box-shadow: 0px 0px 5px #666666;
	box-shadow: 0px 0px 5px #666666;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	background: #ff882b;
	padding: 8px 25%;
	text-decoration: none;
}

.btn:hover {
	background: #fc6d00;
	background-image: -webkit-linear-gradient(top, #fc6d00, #8c450f);
	background-image: -moz-linear-gradient(top, #fc6d00, #8c450f);
	background-image: -ms-linear-gradient(top, #fc6d00, #8c450f);
	background-image: -o-linear-gradient(top, #fc6d00, #8c450f);
	background-image: linear-gradient(to bottom, #fc6d00, #8c450f);
	text-decoration: none;
}


@media (min-width: 780px) { 
	.btn {
		position: absolute;
		bottom: 10%;
	}

}


.xd {
	padding-left: 0;

}

.xd2 {
	max-width:100%;
	max-height:100%;
	width: 100%;

}


.noticias {
	margin-top: 3%;
}


.title-thumb {
	font-weight: 600;
}


.veja_noticia {
	color: #ca8f62;
}

.veja_noticia:hover {
	color: #5e2c07;
	text-decoration: none;
}